* {
  box-sizing: border-box;
}
h1 {
  text-align: center;
  font-weight: bold;
  text-decoration: underline;
  color: #ED6B86;
}

.row {
  width = 100%

}

#title1, #title2, #title3 {
  width:90%;
  border: 1px solid black;
  margin:auto;
  margin-bottom: 15px;
  position: relative;
}
#title1{
  background-color: #FAB3A9;
}
#title2{
  background-color: #C6AD94;
}
#title3{
  background-color: #7FB285;
}
body{
  background-color: #463239;
  font-family: arial;
}
#title1 > h2{
  background-color: #7FB285;
}
#title2 > h2{
  background-color: #FAB3A9;
}
#title3 > h2{
  background-color: #C6AD94;
}


h2 {
  margin-top: 0;
  border: 1px solid black;
  border-top: 0;
  position: absolute;
  right:0px;
}

p {
  padding-top: 16px;
  text-align: center;
}


@media (min-width: 992px) {
  .col-lg-4 {
    width :33.33%;
    float:left;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .col-md-6 {
    width: 50%;
    float:left;
  }
  .col-md-12{
    width: 100%;
    float:left;
  }
  #title3 {
    width:95%;
}

@media (max-width: 767px) {
  .col-sm-12 {
    width: 100%;
    border: 1px sloid black;
  }
}
