* {
  box-sizing: border-box;
}
body {
  font-family: 'arial', serif ;
}

h1 {
  text-align: center;
  text-decoration: underline;
}

.row {
  width: 95%
}

.col-md-4, .col-sm-6, .col-xs-12 {
  position: relative;
  margin-left: 8px;
  height:225px;
  overflow:hidden;
  background-color: grey;
}

@media (min-width: 992px) {
  .col-md-4 {
    float:left;
    border: 3px solid black;
  }
  .col-md-4 {
    width: 31%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .col-sm-6{
    float:left;
    border: 3px solid black;
  }
  .col-sm-6 {
    width: 47%;
  }
  .xcep {
    width: 94%
  }
}

@media (max-width: 767px) {
  .col-xs-12{
    float:left;
    border: 3px solid black;
  }
  .col-xs-12 {
    width: 100%
  }

}

p{
  margin-top: 50px;
  font-size: 20px;

}

.title1, .title2, .title3 {
  background-color: blue;
  position: absolute;
  right: 0px;
  font-size: 30px;
  border: 3px solid black;
  border-top: 0;
  border-right: 0;
}

.title1{
  background-color: yellow;
}
.title2{
  background-color: pink;
}
.title3{
  background-color: red;
  color: white;
}
